* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}

html {
  background-color: rgb(29, 29, 29);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.notes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
}

.note {
  background-color: #494949;
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  color: white;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 4rem;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1.5rem;
}
.note-create-form {
  display: flex;
  gap: 1rem;
  padding-block: 2rem;
  padding-inline: 2rem;
  border-radius: 10px;
}

.delete{
  display: flex;
  gap: 1rem;
  border: none;
  
}

.delete>button{
       background-color: red;
       
}